body {
    background-color:rgb(48, 48, 48);
    font-family: roboto;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    display: block;
    font-size: clamp(3rem, 20vmin, 30rem);
    margin:0;
}

h3 {
    color: white;
    font-size: clamp(1rem, 8vmin, 5rem);
}

.running {
    color: rgb(105, 251, 105);
}

.notrunning {
    color: rgb(255, 91, 91);
}

.intermediate {
    color: rgb(255, 219, 91);
}

#button {
    font-size: 5vmin;
    margin-top: 10vmin;
    margin-bottom: 10vmin;
}

button { 
    background: rgb(37, 95, 140);
    padding: 1em 2em;
    color: white;
    border-radius: .3em;
    font-family: roboto;
    cursor:pointer;
    user-select: none;
    border-style: none;
}
button:active
{ 
    background:rgb(31, 78, 114)
}
button:disabled
{
    display: none;
}

#overlay{
    display: flex;
    align-items: center;
    justify-content: center;    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    background: rgb(0,0,0,0.9);
}

.disabled{
    display: none !important;
}

.inside {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: clamp(1rem, 5vmin, 2rem)
}

.inside-text {
    padding: 5vmin 0 5vmin 0;
    text-align:center;
}

.inside-buttons {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.inside-buttons button {
    font-size: clamp(.8rem, 3vmin, 1.3rem);
}

#overlay-button-yes {
    background: hsl(120, 100%, 20%);
}

#overlay-button-no {
    background: hsl(0, 100%, 20%);
}